---
layout: default
title: Kyle Lewis's Projects
---

<h1>{{ page.title }}</h1>
<ul class="posts">

  <h3> Physics Projects <h3>
  {% for physpost in site.physics.posts %}
    <li><span>{{ physpost.date | date_to_string }}</span> » <a href="{{ physpost.url }}" title="{{ physpost.title }}">{{ physpost.title }}</a></li>
  {% endfor %}

  <h3> Machine Learning Projects <h3>
  {% for mlpost in site.physics.posts %}
    <li><span>{{ mlpost.date | date_to_string }}</span> » <a href="{{ mlpost.url }}" title="{{ mlpost.title }}">{{ mlpost.title }}</a></li>
  {% endfor %}
</ul>