<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/projects">Projects</a></li>
    		</ul>
		</nav>
		
		{{ content }}

		<footer>
    		<ul>
        		<li><a href="mailto:kylelewis090@gmail.com">email</a></li>
        		<li><a href="https://github.com/Kyle-Lewis">GitHub</a></li>
        		<li><a href="https://www.linkedin.com/in/kyle-lewis-physics/">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>